<%- include("partials/header"); %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <h5>Title</h5>   
<input type="text" class="text" name="num1">
<h5>Post</h5>
<textarea name="num2" id="" cols="114" rows="6"></textarea>
<button class="button">publish</button>
</form>
<%- include("partials/footer"); %>